:root{
    --white: #fff;
    --black: #111;
    --light-grey: rgb(245, 245, 245);
    --lighter-grey: rgb(236, 236, 236);
    --blue: rgb(35, 146, 250);
    --dark-blue: rgb(27, 125, 216);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    font-family: sans-serif;
    color: var(--black);
}

html, body {
    height: 100%;
}

#mainContainer{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    background-color: var(--light-grey);
}

#mainContainer > #sideNav {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainContainer > #sideNav > #navTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#mainContainer > #sideNav > #navTitle > h1{
    padding: 20px 0 40px 0;
}

#mainContainer > #sideNav > #inputContainer{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-content: center;
}

#mainContainer > #sideNav > #inputContainer > .inputText:first-child {
    margin: 30px 0 0 0;
}

#mainContainer > #sideNav > #inputContainer > .inputText {
    margin: 30px 0 0 0;
    width: 100%;
}

#mainContainer > #sideNav > #inputContainer > .inputButton {
    margin: 30px 0 0 0;
    width: 100%;
}

#mainContainer > #sideNav > #inputContainer > .inputButton > input {
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: 0;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    font-size: 1.1rem;
}

#mainContainer > #sideNav > #inputContainer > .inputButton > input:hover {
    background-color: var(--dark-blue);
    transition: 0.2s ease;
}


#mainContainer > #sideNav > #inputContainer > .inputText > label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

#mainContainer > #sideNav > #inputContainer > .inputText > label > p{
    font-size: 1.2rem;
    padding: 0 0 0 5px;
}

#mainContainer > #sideNav > #inputContainer > .inputText > label > img{
    width: 15px; 
}

#mainContainer > #sideNav > #inputContainer > .questionMarkIcon {
    width: 20px;
}

#mainContainer > #sideNav > #inputContainer > .inputText > input{
    font-size: 1.2rem;
    padding: 0 0 0 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--lighter-grey);
    width: 100%;
    height: 40px; 
}

#mainContainer > #dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainContainer > #dashboard > #dashboardTitle {
    display: flex;
    width: 90%;
}

#mainContainer > #dashboard > #dashboardTitle > h1 {
    margin: 20px 0 0 0;
}

#mainContainer > #dashboard > #dashboardInfo {
    display: flex;
    width: 90%;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-evenly;
}

#mainContainer > #dashboard > #dashboardInfo > #dashboardSectionOne {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#mainContainer > #dashboard > #dashboardInfo > #dashboardSectionTwo {
    display: flex;
    width: 100%;
}

.graphContainer {
    background-color: var(--white);
}

#mainContainer > #dashboard > #dashboardInfo > #dashboardSectionOne > .graphContainer {
    width: 250;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#mainContainer > #dashboard > #dashboardInfo > #dashboardSectionTwo > .graphContainer {
    width: 100%;
}

.graphArea > img {
    width: 150px;
}

.graphArea > .ct-chart.ct-perfect-fourth {
    width: 150px;
}

#mainContainer > #dashboard > #dashboardInfo > #dashboardSectionOne > .graphContainer > .graphArea {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphContainer > .textArea {
    border-top: 1px solid rgb(150, 150, 150);
    background:var(--lighter-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 40px 0 0 0;
    padding: 5px;
}

.graphContainer > .textArea > p:first-child {
    margin: 4px 0 3px 0;
    font-size: 1.3rem;
}

.graphContainer > .textArea > p{
    font-size: 1.rem;
}


