:root{
    --white: #fff;
    --black: #353839;
    --light-grey: rgb(245, 245, 245);
    --lighter-grey: rgb(236, 236, 236);
    --blue: #434cc9;
    --lighter-blue: #414c8c;
    --dark-blue: #303ace;
}

* {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    font-size: 16px;
    background: var(--light-grey);
    color: var(--black);
}






