:root{
    --white: #fff;
    --black: #111;
    --light-grey: rgb(245, 245, 245);
    --lighter-grey: rgb(236, 236, 236);
    --blue: rgb(35, 146, 250);
    --lighter-blue: #13538A;
    --dark-blue: rgb(27, 125, 216);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    font-size: 16px;
    background: var(--light-grey);
    color: rgb(49, 49, 49);
}






