.green {
    stroke: #3db1fe;
    fill: #3db1fe;
}

.waterGreen { 
    stroke: #fdd128;
    fill: #fdd128;
}

.yellow {
    stroke: #fe336a;
    fill: #fe336a;
}

.orange {
    stroke: #414c8c;
    fill: #414c8c;
}
